/*  your css code here. If applicable */
.para1::before{
	content:"Before Element ";
	font-size:30px;
	color:rgb(255,0,0);
}
.para1::after{
	content:"After Element";
	font-size:30px;
	color:rgb(255,0,0);
}
